/test.nml
x86_64
i386
umac
*.bak
neuroConstruct/generatedMOOSE
neuroConstruct/generatedNeuroML
neuroConstruct/generatedNEURON
neuroConstruct/generatedGENESIS
neuroConstruct/simulations
neuroConstruct/generatedNeuroML*
*.*~
neuroConstruct/backup*
