/neuroConstruct/generatedNeuroML2/runsim.sh
/NEURON/params.py
/NEURON/pp.py
/NEURON/OSB_test.hoc
/export_nml_level2.xml
/test.nml
x86_64
i386
umac
*.bak
neuroConstruct/generatedMOOSE
neuroConstruct/generatedNeuroML
neuroConstruct/generatedNEURON
neuroConstruct/generatedGENESIS
neuroConstruct/simulations
neuroConstruct/dataSets
neuroConstruct/generatedNeuroML/*
neuroConstruct/generatedNeuroML2/*.dat
*.*~
neuroConstruct/backup*
*#*#
.ropeproject
*.pyc
*py.class
